.store-front {
    font-family: 'Inter', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
}